/* Color variables */
:root {
  --light: #efefef;
  --bg: #e5e5e5;
  --dark: #3f3d56;
  --accent-blue: #6c63ff;
  --grey: #7689cd;
  --light-grey: #838383;
  --lighter-grey: #b2b2b2;
  --accent-pink: #ff6584;
  --light-blue: #c9d9e3;
}

/* Typography */

@font-face {
  font-family: "Noto";
  src: url("../assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoBold";
  src: url("../assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Bebasneue";
  src: url("../assets/fonts/BebasNeue-Regular.ttf");
}

.hero-title {
  font-family: "Bebasneue";
  color: var(--dark);
  font-size: 100px;
  text-align: center;
}

.hero-title-dark {
  font-family: "Bebasneue";
  color: var(--light-blue);
  font-size: 100px;
  text-align: center;
}

.title {
  font-family: "Bebasneue";
  color: var(--dark);
  font-size: 80px;
  text-align: left;
}

.title-dark {
  font-family: "Bebasneue";
  color: var(--light-blue);
  font-size: 80px;
  text-align: left;
  padding: 30px 0px;
}
.secondary-title {
  color: var(--light-blue);
  font-size: 15px;
  padding-top: 50px;
}
.secondary-title p {
  padding-bottom: 10px;
}

.sub-title {
  font-family: "Bebasneue";
  color: var(--dark);
  font-size: 30px;
  text-align: left;
  display: flex;
}

h1 {
  color: var(--light-blue);
  font-size: 60px;
}

/* General */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto";
}

a:active {
  color: var(--accent-pink);
}

.light {
  background-color: var(--bg);
}

.dark {
  background-color: var(--dark);
}

/* Containers */

.container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container.center {
  justify-content: center;
}

.container.between {
  justify-content: space-between;
}

.nfcontainer {
  margin: 4vh 10vw;
}

.fw-col {
  width: 100%;
}

.fifty-col {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.fifty-row {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.fw {
  width: 100%;
}
/* Navbar */

nav {
  width: 100%;
  background-color: var(--dark);
  padding-left: 30px;
  padding-right: 10px;
}

.logo {
  display: inline-block;
  color: var(--light-blue);
  font-size: 35px;
  font-family: "Bebasneue";
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 7px 25px;
  text-decoration: none;
  font-size: 13px;
  color: var(--light-blue);
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: var(--accent-blue);
  transition: color 0.1s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10vw;
}

.navbar.admin {
  border-bottom: 0.3px solid #c9d9e31f;
}

/* Table */

table {
  background-color: var(--light);
  width: 100%;
  border-collapse: collapse;
  border: solid var(--dark) 1px;
  border-radius: 13px;
  -moz-border-radius: 6px;
  table-layout: fixed;
}

th,
td {
  text-align: left;
  padding: 20px 2vw;
}

th {
  color: var(--dark);
  font-size: 18px;
}

td,
th {
  border-bottom: 1px solid #3f3d562c;
}

table.t-eta {
  background-color: var(--dark);
  border: none;
  color: #fff;
  width: 19%;
}

table.t-ride {
  background-color: var(--accent-blue);
  border: none;
  color: rgb(112, 103, 103);
  width: 80%;
}

table.t-details {
  margin-top: 20px;
  background-color: var(--bg);
  border: none;
}

.t-details td,
.t-details th {
  color: var(--dark);
  border: none;
  font-size: 18px;
  font-weight: 100;
  vertical-align: top;
}

.t-ride td,
.t-ride th,
.t-eta td,
.t-eta th {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  vertical-align: top;
}

.t-eta td,
.t-eta th {
  text-align: center;
  vertical-align: middle;
}

.ride {
  display: flex;
  justify-content: space-between;
}

.ride table {
  margin-top: 40px;
}
/* Input Forms */

form {
  background-color: var(--bg);
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: center;
}

/* Login Box */

.login-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box-container.admin {
  height: 80vh;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: var(--light);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

::placeholder {
  color: var(--light-grey);
  font-size: 15px;
}

button {
  background-color: var(--accent-blue);
  color: #fffbfb;
  padding: 14px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  font-size: 15px;
  font-family: "Noto";
}

button:hover {
  background-color: var(--accent-pink);
  transition: background-color 0.1s ease-in-out;
}

button.login-submit {
  margin-bottom: 10px;
}

button:disabled,
button[disabled] {
  background-color: #6b63ff5b;
}

.button-clicked {
  background-color: var(--accent-pink);
}

.ride button {
  width: 150px;
}

.dash button {
  margin-bottom: 10px;
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 25px 10px;
  width: 80%;
}

.request-box {
  display: flex;

  flex-direction: column;
  padding-top: 20px;
  width: 100%;
}

form.request-form {
  background-color: #f9f9f9;
  width: 500px;
}
.forgot {
  text-align: center;
}

.forgot a {
  font-size: 12px;
  text-decoration: none;
  color: var(--accent-blue);
  transition: color 0.3s ease-in-out;
}

.forgot a:hover {
  color: var(--accent-pink);
  transition: color 0.3s ease-in-out;
}

/* Radio */

input[type="radio"] {
  display: none;
  width: 50px;
}

.login-box label {
  position: relative;
  justify-content: center;
  font-size: 14px;
  width: 110px;
  border-radius: 3px;
  border: 1px solid var(--lighter-grey);
  color: var(--light-grey);
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 4px;
  transition: width 0.1s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

input[type="radio"]:hover + label {
  border: 1px solid var(--accent-blue);
  color: var(--accent-blue);
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

input[type="radio"]:checked + label {
  background-color: var(--accent-pink);
  border: 1px solid var(--accent-pink);
  color: white;
  width: 100px;
  transition: width 0.1s ease-in-out, background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.sun {
  background-image: url("../assets/images/Request-Ride.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.girl {
  background-image: url("../assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

input[type="datetime-local"],
input[type="date"],
input[type="time"] {
  margin-top: 10px;
  padding: 15px;
  background-color: var(--light);
  border: var(--light);
  color: var(--light-grey);
  font-size: 15px;
  font-family: "Noto";
}

input[type="time"]::before {
  content: "Time:";
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

select {
  padding: 13px 20px;
  width: 100%;
  border: 1px solid var(--dark);
  border-radius: 5px;
  background-color: var(--accent-pink);
  cursor: pointer;
  transition: all 150ms ease;
  color: #fffbfb;
  font-size: 15px;
  font-family: "Noto";
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  width: 170px;

  background: url(http://127.0.0.1:5500/html/assets/images/chevron.png)
    no-repeat right var(--accent-pink);
  -webkit-appearance: none;
  background-position-x: 134px;
}

.filter a {
  margin-left: 5px;
  min-width: 170px;
}
